{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!--<link href="1.css" rel="stylesheet" type="text/css">-->
    <!-- Required meta tags -->
    <title>KC Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>KARTING MANAGER 0.3 APEX</title>
</head>
<body>
    
<div class="container">
    <h2>Race #{{race.id}} : {{race.name}}</h2>
    <h1>
        <a href="{% url 'home' %}"><button>Home</button></a>
        &nbsp;&nbsp;&nbsp;
        <a href="{% url 'race' race_id=race.id %}"><button>Race</button></a>
    </h1>
    <br/>
    <button type="button" class="btn btn-primary" onclick="reset()">RESET ALL DATA</button>
    <br/><img id="finish" style="display: none;" src="{% static 'flag.png' %}" width="200"/>
    <br/>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="row accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Settings
                </button>
            </h2>
            <div id="collapseOne" class="row accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="col border">
                    <h3>Pitstop lane</h3>
                    <input class="form-check-input" onclick="setRandomPitlane(this.checked)" type="checkbox" id="random-pitlane" name="random-pitlane" value="Random">
                    <label class="form-check-label" for="random-pitlane">Random pitstop?</label><br>
                    <div class="pitlane-rows" id="pitlane-rows">
                        <h3>Pitlane rows</h3>
                        <div class="input-group">
                            <span class="input-group-text">How many rows?</span>
                            <input type="text" class="form-control" placeholder="rows count" id="rows-count"
                                   aria-describedby="basic-addon5"
                                   onchange="setRows(this.value)">
                        </div>
                        <br/>
                        <div class="input-group" id="rows-with-karts">
                        </div>
                    </div>
                </div>
                <div class="col-6 border">
                    <h3>Lap time</h3>
                    <input class="form-check-input" onclick="setCountAutomatic(this.checked)" type="checkbox" id="count-automatic" name="count-automatic" value="Auto">
                    <label class="form-check-label" for="count-automatic">Count automatically?</label><br>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Rocket <</span>
                        <input type="text" class="form-control" placeholder="rocket" id="rocket"
                               aria-describedby="basic-addon1"
                               onchange="setRocket(this.value)">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2">Good <</span>
                        <input type="text" class="form-control" placeholder="good" id="good"
                               aria-describedby="basic-addon2"
                               onchange="setGood(this.value)">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">So-so <</span>
                        <input type="text" class="form-control" placeholder="so-so" id="soso"
                               aria-describedby="basic-addon3"
                               onchange="setSoso(this.value)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="{% url 'js' race_id=race.id %}"></script>
</body>
</html>
